* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    background-image: url('https://avatars.mds.yandex.net/i?id=43f1a029d98aef8cb0091dba04947086_l-5292126-images-thumbs&n=27&h=480&w=480');
}

.ios-btn, .ios-blue-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    margin: 10px;
    transition: .2s;
    box-shadow: 0 5px 15px #00000018;
    &:hover {
        transform: scale(1.07);
        text-shadow: 0 0 10px #fff;
    }
}

.ios-blue-btn {
    background-color: #007AFF;
    color: #fff;
    border-top: .9px solid #00ccff;
    border-bottom: .9px solid #00ccff;
    &:hover {
        background-color: #00aaff;
    }
}

/* Dark Mode */
/*
:root {
    --ios-btn-bg-color: #7f7f7f22;
    --ios-btn-active-bg-color: #7f7f7f33;
    --border-color: #222;
    --ios-btn-color: #fff;
}
*/

/* Light Mode bg #eee*/

:root {
    --ios-btn-bg-color: #fff2;
    --ios-btn-active-bg-color: #fff7;
    --border-color: #fff7;
    --ios-btn-color: #000;
}


.ios-btn {
    backdrop-filter: blur(2px) saturate(150%);
    box-shadow: 0 5px 15px #00000018, inset 0 0 10px #fff;
    background-color: var(--ios-btn-bg-color);
    color: var(--ios-btn-color);
    border-top: .9px solid var(--border-color);
    border-bottom: .9px solid var(--border-color);
    &:hover {
        background-color: var(--ios-btn-active-bg-color);
    }
}