* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.ios-btn, .ios-blue-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    transition: .2s;
    &:hover {
        transform: scale(1.07);
    }
}

.ios-blue-btn {
    background-color: #007AFF;
    color: #fff;
    border-top: .9px solid #00ccff;
    border-bottom: .9px solid #00ccff;
    &:hover {
        background-color: #00aaff;
    }
}

.ios-btn {
    background-color: #7f7f7f22;
    color: #fff;
    border-top: .9px solid #FFF2;
    border-bottom: .9px solid #FFF2;
    &:hover {
        background-color: #7f7f7f33;
    }
}