* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.ios-blue-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #007AFF;
    color: #fff;
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    border-top: .9px solid #00ccff;
    border-bottom: .9px solid #00ccff;
}